
.clase{
    margin-left: 8%;
}
.palabras{
    margin-left: 4%;
}
.margen{
    margin-left: 9%;
}
.prueba{
    margin-left:4%;
}
.next{
    margin-right: 60%;
}
.boton
{
    margin-right: 50%;
}

.pruebasBoton{
    margin-left: 87%;
}

.color1{
    color: black;
}

.next2f{
    margin-left: 900;
}
