<div class="section pb-0" id="4">
    <div style="background-color: #051b06   ;width:1920px; height:1020px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
        
      </div>
      <!--end container-->
  
      <div class="container mt-100 mt-60">
       
          <div class="col-lg-5 col-md-6">
      
          </div>
          <!--end col-->
  
          <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0" style="color: white !important;">
            <div class="section-title ms-lg-5">
              <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000" style="color: white !important;">CUSTOM-MADE ART</h4>
              <p class="text" data-aos="fade-up" data-aos-duration="1400">4.In what space will this MATERSANT thrive in?  </p>
                   
        <!-- Radio Buttons Start -->
        <div class="col mt-4 pt-2" id="radio-buttons">
          <div class="p-4">
            <div class="custom-control custom-radio custom-control-inline">
              <div class="form-check mb-0">
                <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(6);">
                <label class="form-check-label" for="flexRadioDefault1" >Outdoors</label>
              </div>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <div class="form-check mb-0">
                <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(7);">
                <label class="form-check-label" for="flexRadioDefault1">Indoors</label>
              </div>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <div class="form-check mb-0">
                <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(8);">
                <label class="form-check-label" for="flexRadioDefault1">Both Outdoors & Indoors</label>
              </div>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <div class="form-check mb-0">
                <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(9);">
                <label class="form-check-label" for="flexRadioDefault1">Virtual space</label>
              </div>
            </div>
            
          
          </div>
        
      </div>
      <!--end col-->
      <!-- Radio Buttons End -->
              
            </div>
            <div class="main-content clase " *ngIf="Contenedora4">
           <p class="text" data-aos="fade-up" data-aos-duration="1400">4a. Outdoors can mean many things, so for us it’s important to know about the elements that will interact with the custom artwork.
              Check all that apply:  </p>
              <div class=palabras>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                    <label class="form-check-label" for="flexRadioDefault1"> Exposure to direct sunlight</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                    <label class="form-check-label" for="flexRadioDefault1">Water exposure (e.g., rain)</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                    <label class="form-check-label" for="flexRadioDefault1">Direct winds</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                    <label class="form-check-label" for="flexRadioDefault1">Dust</label>
                  </div>
                </div>
            <span class="text-primary h5 me-2"></span>Other:
            <textarea rows="1" cols="80" class="form-control" placeholder=" Size in cm : " required></textarea>  
            <br>
            </div>
            <p class="text" data-aos="fade-up" data-aos-duration="1400">You can also upload a photo of the space or spot you have in mind (optional):   <button mat-stroked-button="primary" >JPG, PNG, PDF</button>
            <br>
              <div class="row align-items-center">
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-between">
                    <a class="text-dark align-items-center">
                      <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                          <line x1="19" y1="12" x2="5" y2="12"></line>
                          <polyline points="12 19 5 12 12 5"></polyline>
                        </svg></span>

                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded" routerLink="/art-type" [ngxScrollTo]="'#3'" style="color: white !important;">Back </a>
                        <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                        alt="">
                    </a>

                    <a class="text-dark align-items-center">
                      <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                        alt="">
                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-artwork" [ngxScrollTo]="'#5'" style="color: white !important;">Next </a>
                      <span class="pro-icons"><svg xmlns="" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-right fea icon-sm">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg></span>
                    </a>
                  </div>
                </div>
                <!--end col-->
              </div>
            </div>
            <div class="main-content clase " *ngIf="Contenedorb4">
            <p class="text" data-aos="fade-up" data-aos-duration="1400">4b. Sweet, Indoors is a great shout.  What space did you have in mind?   </p>
            <div class=palabras>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                  <label class="form-check-label" for="flexRadioDefault1">Living room </label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                  <label class="form-check-label" for="flexRadioDefault1">Bedroom</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                  <label class="form-check-label" for="flexRadioDefault1">Kitchen</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                  <label class="form-check-label" for="flexRadioDefault1">Office-Studio</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                  <label class="form-check-label" for="flexRadioDefault1">Foyer</label>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-12">
                <div class="d-flex align-items-center justify-content-between">
                  <a class="text-dark align-items-center">
                    <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg></span>

                      <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded" routerLink="/art-type" [ngxScrollTo]="'#3'" style="color: white !important;">Back </a>
                      <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                      alt="">
                  </a>

                  <a class="text-dark align-items-center">
                    <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                      alt="">
                      <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded" routerLink="/custome-artwork"   routerLink="/custome-artwork"  [ngxScrollTo]="'#5'" style="color: white !important;">Next </a>
                    <span class="pro-icons"><svg xmlns="" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"style="color: white !important;" class="feather feather-arrow-right fea icon-sm">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg></span>
                  </a>
                </div>
              </div>
              <!--end col-->
            </div>
            </div>
            <div class="main-content clase" *ngIf="Contenedorc4">
            <p class="text" data-aos="fade-up" data-aos-duration="1400">4c. Ooh lala, a versatile custom piece, how splendid.</p>
            <div class=palabras>
            <span class="text-primary h5 me-2"></span>Other:
            <textarea rows="2" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea>  
            <br>
            </div>
            <div class="row align-items-center">
              <div class="col-12">
                <div class="d-flex align-items-center justify-content-between">
                  <a class="text-dark align-items-center">
                    <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg></span>

                      <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded" routerLink="/art-type"[ngxScrollTo]="'#3'" style="color: white !important;">Back </a>
                      <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                      alt="">
                  </a>

                  <a class="text-dark align-items-center">
                    <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                      alt="">
                      <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-artwork" [ngxScrollTo]="'#5'" style="color: white !important;">Next </a>
                    <span class="pro-icons"><svg xmlns="" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-right fea icon-sm">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg></span>
                  </a>
                </div>
              </div>
              <!--end col-->
            </div>
            </div>
            <div class="main-content margen " *ngIf="Contenedord4">
            <p class="text-muted" data-aos="fade-up" data-aos-duration="1400" style="color: white !important;">4d. Virtual, digital, dimensional, tell us more.  </p>
            <div class=palabras>
            <span class="text-primary h5 me-2"></span>Other:
            <textarea rows="2" cols="80" class="form-control" placeholder=" Size in cm : " required></textarea>  
            <br>
            </div>
            <div class="row align-items-center">
              <div class="col-12">
                <div class="d-flex align-items-center justify-content-between">
                  <a class="text-dark align-items-center">
                    <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                      </svg></span>

                      <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded "  routerLink="/art-type" [ngxScrollTo]="'#3'" style="color: white !important;">Back </a>
                      <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                      alt="">
                  </a>

                  <a class="text-dark align-items-center">
                    <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                      alt="">
                      <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-artwork" [ngxScrollTo]="'#5'" style="color: white !important;">Next </a>
                    <span class="pro-icons"><svg xmlns="" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"  style="color: white !important;" class="feather feather-arrow-right fea icon-sm">
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg></span>
                  </a>
                </div>
              </div>
              <!--end col-->
            </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
     
      <!--end container-->
    </div>
    </div>