<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
  <section class="section pb-0">
    <div class="related"></div>
    <div class="">
    
      <!--end row-->
    </div>
    
    <section class="marg">
       <!--end row--
      <div class="row align-items-center">
        <div class="col-md-2"  style="font-family: 'PPEiko-Medium' !important;">
          <div class="section-title ms-md-4">
            
            <h5 class="text-muted"  style="font-family: 'PPEiko-Medium' !important;">TEXTO QUE SE DESEA AGREGAR </h5>
            <br> <br>
            <p class="text"  style="font-family: 'PPEiko-Medium' !important;">Descripcion del producto </p>
          
          </div>
        </div>
      </div>
       end row-->

      <div id="grid" class="porta row">
          <div class="col-lg-8 col-md-6 col-12 mt-4 pt-2 picture-item" data-groups='["branding"]' 
              *ngFor="let item of filteredImages">
                  
                      <img  src="{{item.imageURL}}"  class="img-fluid rounded" alt="work-image">
                      <div class="overlay-work bg-dark"></div>
                      <div class="content">
                          <a routerLink="/portfolio-detail-one"
                              class="title text-white d-block fw-bold">{{item.title}}</a>
                           <small class="text-light">{{item.type}}</small>
                      </div>
                      <div class="client">
                          <small class="text-light user d-block"> {{item.name}}</small>
                          <small class="text-light date">{{item.date}}</small>
                      </div>
               
          </div>
          <!--end col-->
      </div>
      
</section>

    
    <!--end container-->
  </section>
  <!--end section-->
  
  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->
  
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>
  AOS.init();
</script>