
<!-- Hero Start -->

      <div class="bg-half  d-table w-100 row justify-content-center" id="home">
        <div class="col-lg-12 text-center">
            <h4 class="title"  style="font-family: 'PPEiko-Medium' !important;">Custom Art Portfolio<br></h4>
            <h5 class="title"  style="font-family: 'PPEiko-Thin' !important;">Our custom art is sourced from the cosmos for the individuals seeking to enhance their space through art, spirituality, and creativity.</h5>        </div>
        <!--end col-->
      </div>
      <!--end row-->

<!-- Work Start -->
<section class="marg">
        <div id="grid" class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2 picture-item" data-groups='["branding"]'  
                routerLink="/detail-two/{{item.galleryId}}" *ngFor="let item of filterredImages">
                <div class="card work-container work-modern position-relative overflow-hidden shadow rounded border-0">
                    <div class="card-body p-0">
                        <img  src="{{item.image}}"  class="img-fluid rounded" alt="work-image">
                        <div class="overlay-work bg-dark"></div>
                        <div class="content">
                            <a routerLink="/detail-two/{{item.galleryId}}"
                                class="title text-white d-block fw-bold">{{item.title}}</a>
                             <small class="text-light">{{item.type}}</small>
                        </div>
                        <div class="client">
                            <small class="text-light user d-block"> {{item.name}}</small>
                            <small class="text-light date">{{item.date}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

        <!-- PAGINATION START -->
     
        <!--end row-->
</section>
<!--end section-->
<!-- Work End -->

<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
