@font-face {
    font-family: 'PPEiko-Medium';
    src: url('../../../assets/fonts/PPEiko-Medium.otf') format('opentype');
    font-style: normal;
    
    font-weight: normal;
}

@font-face {
    font-family: 'PPEiko-Thin';
    src: url('../../../assets/fonts/PPEiko-Thin.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

.color1{
    background-color: #ca2311;
    font-style: oblique;
    color:white;
}

.color2{
    background-color: #e89f36;
    font-style: oblique;
}

.color3{
    background-color: #2b2e91;
    font-style: oblique;
}

.color4{
    background-color: #4aac91;
    font-style: oblique;
}