<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky" (window:scroll)="windowScroll()" [class]="navClass" [ngClass]="{'tagline-height': sliderTopbar == true}">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="https://matersant.ima.com.gt/" *ngIf="navClass !== 'nav-light'">
                <img src="assets/images/logo-matersant.png" class="l-dark logo-light-mode" height="60" alt="">
                <span class="l-dark logo-light-mode" height="24" style="color: #020202 !important; font-size: 28px; font-family: 'PPEiko-Medium' !important;">MATERSANT</span>
                <!-- <img src="assets/images/logo-dark.png" class="l-dark logo-light-mode" height="24" alt="">
                <img src="assets/images/logo-light.png" class="logo-dark-mode" height="24" alt=""> -->
            </a>
            <a class="logo" href="https://materia.ima.com.gt/" *ngIf="navClass !== 'nav-light'">
                <span class="l-dark logo-light-mode" height="24" style="color: #7a7878 !important; font-size: 28px; font-family: 'PPEiko-Medium' !important;">MATERIA CURADA</span>
                <!-- <img src="assets/images/logo-dark.png" class="l-dark logo-light-mode" height="24" alt="">
              <img src="assets/images/logo-light.png" class="logo-dark-mode" height="24" alt=""> -->
            </a>
        </div>

        <!-- <span *ngIf="!buttonList && !isdeveloper && !shopPages">
      <div class="buy-button">
        <ng-template [ngIf]="navClass === 'nav-light'">
          <a href="javascript: void(0);" class="btn btn-primary login-btn-primary">Buy Now</a>
          <a href="javascript: void(0);" class="btn btn-light login-btn-light">Buy Now</a>
        </ng-template>
        <ng-template [ngIf]="navClass !== 'nav-light'">
          <a href="javascript: void(0);" class="btn btn-primary">Buy Now</a>
        </ng-template>
      </div>
    </span> -->
        <!--end login button-->

        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" (click)="toggleMenu()" [ngClass]="{'open': isCondensed === true}">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu" [class]="navClass" style="font-family: 'PPEiko-Thin' !important;">
                <!-- <li><a routerLink="/" class="nav-link-ref">HOME</a></li> -->
                <li class="has-submenu">
                    <a href="javascript:void(0)" (click)="onMenuClick($event)" style="font-family: 'PPEiko-Thin' !important;">CUSTOM-MADE</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">ART</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">PRODUCT</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">SPACE DESIGNE</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:void(0)" (click)="onMenuClick($event)" style="font-family: 'PPEiko-Thin' !important;">SERVICES</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">IMAGE CONSULTING</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">EXPERIENCE GURU</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">CREATIVE DIRECTION</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:void(0)" (click)="onMenuClick($event)" style="font-family: 'PPEiko-Thin' !important;">SHOP</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">MATERSANT</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">MATERIA CURADA</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">THE ISSUE</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">ALL</a>
                        </li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:void(0)" (click)="onMenuClick($event)" style="font-family: 'PPEiko-Thin' !important;">ARCHIVE</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">2018</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">2019</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">2020</a>
                        </li>
                        <li class="nav-link-ref">
                            <a href="javascript:void(0)" routerLink="/">2021</a>
                        </li>
                    </ul>
                </li>
                <li><a routerLink="#" class="nav-link-ref" style="font-family: 'PPEiko-Thin' !important;">ABOUT</a></li>
            </ul>
            <!--end navigation menu-->
            <!-- <div class="buy-menu-btn d-none">
                <a href="javascript: void(0);" target="_blank" class="btn btn-primary">Buy Now</a>
            </div> -->
            <!--end login button-->
            <!--end login button-->
        </div>
        <!--end navigation-->
    </div>
    <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->