<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky" (window:scroll)="windowScroll()" [class]="navClass" [ngClass]="{'tagline-height': sliderTopbar == true}">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="https://matersant.ima.com.gt/" *ngIf="navClass !== 'nav-light'">
                <img  src= "assets/images/casa.png "  class="l-dark logo-light-mode" height="60" alt="" >
                <span class="l-dark logo-light-mode" height="24" style="color: #020202 !important; font-size: 28px; font-family: 'PPEiko-Medium' !important;">CASA MATERSANT</span>
                
            </a>
        </div>
      
        <div class ="vistamovil2">
          <div class="menu-extras">
              <div class="menu-item">
                  <!-- Mobile menu toggle-->
                  <a class="navbar-toggle" id="isToggle" (click)="toggleMenu()" [ngClass]="{'open': isCondensed === true}">
                      <div class="lines">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                  </a>
                  <!-- End mobile menu toggle-->
              </div>
          </div>
          <div id="navigation">
              <!-- Navigation Menu-->
              <ul class="navigation-menu" [class]="navClass" style="font-family: 'PPEiko-Thin' !important;">
                  <!-- <li><a routerLink="/" class="nav-link-ref">HOME</a></li> -->
                                
                  <li class="has-submenu ">
                      <a href="javascript:void(0)" (click)="onMenuClick($event)">SERVICES</a><span class="menu-arrow"></span>
                
                      <ul class="submenu megamenu">
                        <li>
                          <ul>
                            <li class="megamenu-head "  style="color: red !important; ">CASA MATERSANT</li>
                            <li><a class="nav-link-ref" routerLink="/shop-wall">WALL ART</a></li>
                            <li><a class="nav-link-ref" routerLink="/shop-furniture">FURNITURE</a></li>
                            <li><a class="nav-link-ref" routerLink="/matersant-decor">HOME DECOR</a></li>
                            <li><a class="nav-link-ref" routerLink="/matersant-finishing">HOME FINISHINGS</a></li>
                            <li><a class="nav-link-ref" routerLink="/shop-accesories">CLOTHING + ACCESSORIES</a></li>
                            <li><a class="nav-link-ref" routerLink="/index-upcycle">UPCYCLED</a></li>
                          </ul>
                        </li>
    
                        <li>
                          <ul>
                            <li class="megamenu-head"  style="color: #e89f36 !important; "  >MATERIA CURADA</li>
                            <li><a class="nav-link-ref" routerLink="/art-materia">ART</a></li>
                            <li><a class="nav-link-ref" routerLink="/materia-decor"> HOME DECOR</a></li>
                            <li><a class="nav-link-ref" routerLink="/accesories-materia">CLOTHING + ACCESSORIES</a></li>
                          </ul>
                        </li>
    
                    
                      </ul>
    
                    </li>
                 
                    
                    <li><a routerLink="/aboutus" class="nav-link-ref" style="font-family: 'PPEiko-Thin' !important;">ABOUT</a> </li> <span class="menu-arrow"></span>
                   </ul>
            
          </div>
      </div>
        <div class ="vistaNormal1">
          <div class="menu-extras">
              <div class="menu-item">
                  <!-- Mobile menu toggle-->
                  <a class="navbar-toggle" id="isToggle" (click)="toggleMenu()" [ngClass]="{'open': isCondensed === true}">
                      <div class="lines">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                  </a>
                  <!-- End mobile menu toggle-->
              </div>
          </div>
          <div id="navigation">
              <!-- Navigation Menu-->
            <div class="positionHeader">
              <ul class="  navigation-menu" [class]="navClass" style="font-family: 'PPEiko-Thin' !important;">
                  <li class=" has-submenu ">
                      <a href="javascript:void(0)" (click)="onMenuClick($event)">PRODUCTS</a><span class="menu-arrow"></span>
                      <!-- MENU DE NORMAL -->
  
                      <ul class="  submenu megamenu " style="background-color: #ffffff;">
                        <li style="width: 48%;">
                          <div class="matersant" style=" background-color: #ffffff ">
                          <ul>
                            <li class="casamatersant megamenu-head " style="color: white !important;" >CASA MATERSANT</li>
                            <li><a class="nav-link-ref" routerLink="/shop-wall">WALL ART</a></li>
                            <li><a class="nav-link-ref" routerLink="/shop-furniture">FURNITURE</a></li>
                            <li><a class="nav-link-ref" routerLink="/matersant-decor">HOME DECOR</a></li>
                            <li><a class="nav-link-ref" routerLink="/matersant-finishing">HOME FINISHINGS</a></li>
                            <li><a class="nav-link-ref" routerLink="/shop-accesories">CLOTHING + ACCESSORIES</a></li>
                            <li><a class="nav-link-ref" routerLink="/index-upcycle">NFT</a></li>
                          </ul>
                          
                        </div>
                        </li>
                        <li style="width: 48%;">
                          <div class="mcurada" style="background-color: #ffffff ">
                          <ul>
                            <li class="materiacurada megamenu-head"  style="color: white !important;" >MATERIA CURADA</li>
                            <li><a class="nav-link-ref" routerLink="/art-materia">ART</a></li>
                            <li><a class="nav-link-ref" routerLink="/materia-decor"> HOME DECOR</a></li>
                            <li><a class="nav-link-ref" routerLink="/accesories-materia">CLOTHING + ACCESSORIES</a></li>
                          </ul>
                        </div>
                        </li>
                     

                      </ul>

  
                    </li>
              
                
                  <li class="has-submenu ">
                    <a href="javascript:void(0)" (click)="onMenuClick($event)">SERVICES</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu" style="background-color: #ffffff ;">
 
                      <li style="width: 32%;">
                        <div class="contenedor3">
                        <ul>
                          <li class="productdesign megamenu-head"  style="color: white !important" >PRODUCT DESIGN</li>
                          <li><a class="nav-link-ref" routerLink="/portfolio-grid-two">PORTFOLIO</a></li>
                          <li><a class="nav-link-ref" routerLink="/custome-made">CUSTOM-MAKE YOUR OWN PIECE</a></li>
                        </ul>
                      </div>
                      </li>
                  
                      <li style="width: 32%;">
                        <div class="contenedor4" style="background-color: #ffffff ">
                        <ul>
                          <li class="interiordesign megamenu-head"   style="color: white !important;" >INTERIOR DESIGN</li>
                          <li><a class="nav-link-ref" routerLink="/portfolio-masonry-two">PORTFOLIO</a></li>
                          <li><a class="nav-link-ref" routerLink="/portfolio-masonry-three">CREATE YOUR DREAM SPACE</a></li>
                        </ul>
                      </div>
                      </li>
                      <li style="width: 32%;">
                        <div class="contenedor5" style="background-color: #ffffff ">
                        <ul>
                          <li class="art megamenu-head"  style="color: white !important;">ART</li>
                          <li><a class="nav-link-ref" routerLink="/portfolio-masonry-two">PORTFOLIO</a></li>
                          <li><a class="nav-link-ref" routerLink="/portfolio-masonry-three">COMMISION ART</a>

                          <li> 
                            
                          </li>
                        </ul>
                      </div>
                      </li>
                    

                    </ul>

                    <!-- MENU DE MOVIL -->



                  </li>
                  
                  <li><a routerLink="/aboutus" class="nav-link-ref" style="font-family: 'PPEiko-Thin' !important;">ABOUT</a> </li> <span class="menu-arrow"></span>
              </ul>
            </div>
  
             
                <!--  <li class="has-submenu">
                      <a href="javascript:void(0)" (click)="onMenuClick($event)" style="font-family: 'PPEiko-Thin' !important;">PRODUCTS</a><span class="menu-arrow"></span>
                      <ul class="submenu">
                          <div class="main-content color1" >
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: white !important;" routerLink="/">MATERSANT</a>
                          </li>
                          </div>
                          <div class="main-content color2" >
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: white!important;"  routerLink="/">MATERIA CURADA</a>
                          </li>
                      </div>
                      <div class="main-content color3" >
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: white !important;"  routerLink="/">THE ISSUE</a>
                          </li>
                      </div>
                      <div class="main-content color4" >
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: white !important;" routerLink="/">ALL</a>
                          </li>
                      </div>
                      </ul>
                  </li> -->
  
                  
               <!--    <li class="has-submenu">
                      <a href="javascript:void(0)" (click)="onMenuClick($event)" style="font-family: 'PPEiko-Thin' !important;">ARCHIVE</a><span class="menu-arrow"></span>
                      <ul class="submenu">
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: #6A1B9A !important;" routerLink="/">2018</a>   
                          </li>
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: #2E7D32!important;" routerLink="/">2019</a>
                          </li>
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: #00838F !important;" routerLink="/">2020</a>
                          </li>
                          <li class="nav-link-ref">
                              <a href="javascript:void(0)" style="color: #D84315 !important;" routerLink="/">2021</a>
                          </li>
                      </ul>
                  </li> 
                 <!--  <li class="nav-link-ref">
                      <a href="javascript:void(0)"   routerLink="/aboutus">ABOUT</a>
                  </li>-->
             
             
            
              <!--end navigation menu-->
              <!-- <div class="buy-menu-btn d-none">
                  <a href="javascript: void(0);" target="_blank" class="btn btn-primary">Buy Now</a>
              </div> -->
              <!--end login button-->
              <!--end login button-->
          </div>
          <!--end navigation-->
      </div>
  </div>
  
    <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->