 <!-- Start -->
 <section class="section">
    <!-- Start Most Viewed Products -->
    <div class="container">
 <br> 
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->



        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->


        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p1.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p4.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="card shop-list border-0 position-relative">
            <div class="shop-image position-relative overflow-hidden ">
              <a routerLink="/shop-product-detail"><img src="assets/images/p4.jpg" class="img-fluid"
                  alt=""></a>
              <a routerLink="/shop-product-detail" class="overlay-work">
                <img src="assets/images/p1.jpg" class="img-fluid" alt="">
              </a>
            </div>
            <div class="card-body content pt-4 p-2">
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Nombre Producto</a>
              <br>
              <a routerLink="/shop-product-detail" class="text-dark product-name h6">Artista</a>
              <div class="d-flex justify-content-between mt-1">
                <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 </h6>
               
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
  
      

      </div>
      <!--end row-->
    </div>
    <!--end container-->
    <!-- End Recent -->
  </section>
  <!--end section-->
  <!-- End -->
  
  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->
  