
<!-- Hero Start -->
<section class="bg-half d-table w-100" id="home" style="background: url('assets/images/company/aboutus.jpg');">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="page-next-level title-heading">
            <h1 class="text-white title-dark"> About us </h1>
            <div class="page-next">
              <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb bg-white rounded shadow mb-0">
                  <li class="breadcrumb-item"><a routerLink="/home">Matersant</a></li>

                  <li class="breadcrumb-item active" aria-current="page">About us</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <div class="position-relative">
    <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!-- Hero End -->
  
  <section class="section">
    <div class="container">
      <div class="row align-items-center" id="counter">
        <div class="col-md-6">
          <img src="assets/images/company/about2.png" class="img-fluid" alt="">
        </div>
        <!--end col-->
  
        <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <div class="ms-lg-4">
            <div class="d-flex mb-4">
              <span class="text-primary h1 mb-0"><span class="counter-value display-1 fw-bold" [CountTo]="15" [from]="0"
                  [duration]="4"></span>+</span>
              <span class="h6 align-self-end ms-2">Years <br> Experience</span>
            </div>
            <div class="section-title">
              <h4 class="title mb-4">Who we are ?</h4>
              <p class="text-muted">MATERSANT is a conscious and innovative art house based on intention and fuelled by creative love & devotion.

                Our journey began in Honduras, where our souls first connected profoundly to Mother Nature and our family’s pure love. 
                
                From there, intuition took us across the Atlantic to dive deep into the boundless oceans of art, design, and function. 
                
                The Universe, however, pulled us back to our pre-Columbian ancestral land in Central America to connect once again with that which is pure, simple, and fundamental: The Universe Itself.  
                
                From then onwards, our philosophy has been shaped to consider the whole with the self in everything we do. 
                
                </p>
              <a href="javascript:void(0)" class="btn btn-primary mt-3">Contact us</a>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  
