
  
  <section class="section" style="background-color: #e89f36" > 
    
    <div class="container"  >
      <div class="main-content pruebasBoton"  >
        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  style="color: black !important;" (click) = "touch(1);" >Spanish  </a>
            <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded" style="color: black !important;"(click) = "touch(2);">English </a>
      </div>
      <div class="row align-items-center" id="counter">
        
        <!--end col-->
  
    <div class="main-content clase"  *ngIf="ContenedorEnglish">
        <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <div class="ms-lg-4">
            <div class="d-flex mb-4">
              <span class="text-primary h1 mb-0"><span class="counter-value display-1 fw-bold" [CountTo]="15" [from]="0"
                  [duration]="4"></span>+</span>
              <span class="h6 align-self-end ms-2">Years <br> Experience</span>
            </div>
            <div class="section-title">
              <h4 class="title mb-4">Who we are ?</h4>
              <p class="text">MATERSANT is a conscious and innovative art house based on intention and fuelled by creative love & devotion.

                Our journey began in Honduras, where our souls first connected profoundly to Mother Nature and our family’s pure love. 
                
                From there, intuition took us across the Atlantic to dive deep into the boundless oceans of art, design, and function. 
                
                The Universe, however, pulled us back to our pre-Columbian ancestral land in Central America to connect once again with that which is pure, simple, and fundamental: The Universe Itself.  
                
                From then onwards, our philosophy has been shaped to consider the whole with the self in everything we do. 
                
                </p>
              <a href="javascript:void(0)" class="btn btn-primary mt-3">Contact us</a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="main-content clase"  *ngIf="ContenedorSpanish">
        <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
          <div class="ms-lg-4">
            <div class="d-flex mb-4">
              <span class="text-primary h1 mb-0"><span class="counter-value display-1 fw-bold" [CountTo]="15" [from]="0"
                  [duration]="4"></span>+</span>
              <span class="h6 align-self-end ms-2">Years <br> Experience</span>
            </div>
            <div class="section-title">
              <h4 class="title mb-4">¿Quienes Somos?</h4>
              <p class="text">MATERSANT es una casa innovadora de arte consciente basada en la intención; Impulsada por la creatividad, el amor y la devoción.

                Nuestro viaje comenzó en Honduras, donde nuestras almas se conectaron profundamente con la Madre Tierra y el amor puro de nuestra familia. 
                
                Después, la intuición nos llevó al otro lado del atlántico a sumergirnos en los océanos infinitos del arte, el diseño y la función.  
                
                Sin embargo, El Universo nos jaló de regreso a nuestra tierra precolombina ancestral en Centroamérica a conectar otra vez con aquello que es puro, simple y fundamental: El Universo mismo.
                
                De ahí en adelante, nuestra filosofía se ha moldeado para considerar el todo con el yo en todo lo que hacemos. 
                
                
                
                
                </p>
              <a href="javascript:void(0)" class="btn btn-primary mt-3">Contactanos</a>
            </div>
          </div>
        </div>
      </div>




        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  
