<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" id="home"
style="background: url('assets/images/work/14.jpg') center center;">
<div class="bg-overlay"></div>
<div class="container">
<div class="row align-items-center">
  <div class="col-lg-7 col-md-6">
    <div class="title-heading mt-4">
        <h1 class="display-4 fw-bold text-white title-dark mb-3">Welcome to<br>MATERSANT</h1>
        <p class="para-desc text-white-50">Thank you for visiting our digital space!💖		
            Let’s make some magic 🌟</p>

      <div class="mt-4">
        <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-lg btn-light">
          <i-feather name="arrow-down" class="icons"></i-feather>
        </a>
      </div>
    </div>
  </div>
  <!--end col-->

  <div class="col-lg-5 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
    <div class="card shadow rounded border-0 ms-lg-5">
      <div class="card-body">
        <h5 class="card-title">MATERSANT</h5>

        <form class="login-form">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label"> Name: </label>
                <input name="date" type="text" class="form-control start" placeholder="Name :" mode="range">
              </div>
            </div>
            <!--end col-->

            <div class="col-md-12">
              <div class="mb-3">
                <label class="form-label">Your Email</label>
                <div class="form-icon position-relative">
                  <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                  <input type="email" class="form-control ps-5" placeholder="Email" name="email" required="">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">I Accept <a href="javascript:void(0)"
                      class="text-primary">get notified of updates via email </a></label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-grid">
                <button class="btn btn-primary">
                    sign in
                    </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end col-->
</div>
<!--end row-->
</div>
<!--end container-->
</section>
<!--end section-->


<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->

<!-- Login Modal start -->
<ng-template #content let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">15 Days Free Trail</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-content rounded shadow border-0">
      <div class="modal-body p-0">
          <div class="container-fluid px-0">
              <div class="row align-items-center g-0">
                  <div class="col-lg-12">
                      <form class="login-form p-4">
                          <div class="row">

                              <div class="col-lg-12">
                                  <div class="mb-3">
                                      <label class="form-label">Name <span class="text-danger">*</span></label>
                                      <div class="form-icon position-relative">
                                          <i-feather name="user" class="fea icon-sm icons"></i-feather>
                                          <input type="text" class="form-control ps-5" placeholder="Name" name="name" required="">
                                      </div>
                                  </div>
                              </div>
                              <!--end col-->

                              <div class="col-lg-12">
                                  <div class="mb-3">
                                      <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                      <div class="form-icon position-relative">
                                          <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                                          <input type="email" class="form-control ps-5" placeholder="Email" name="email" required="">
                                      </div>
                                  </div>
                              </div>
                              <!--end col-->

                              <div class="col-lg-12">
                                  <div class="mb-3">
                                      <label class="form-label">Password <span class="text-danger">*</span></label>
                                      <div class="form-icon position-relative">
                                          <i-feather name="key" class="fea icon-sm icons"></i-feather>
                                          <input type="password" class="form-control ps-5" placeholder="Password" required="">
                                      </div>
                                  </div>
                              </div>
                              <!--end col-->

                              <div class="col-lg-12 mb-0">
                                  <div class="d-grid">
                                      <button class="btn btn-primary">Login</button>
                                  </div>
                              </div>
                              <!--end col-->
                          </div>
                          <!--end row-->
                      </form>
                  </div>
                  <!--end col-->
              </div>
              <!--end row-->
          </div>
          <!--end container-->
      </div>
  </div>
</ng-template>
<!-- Login Modal Content End -->

<!-- Start Recent -->
<div class="container mt-100 mt-60 ancla" id="recent">
    <div class="row">
        <div class="col-12">
            <h5 class="mb-0">MATERSANT</h5>
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s13.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-13.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Wooden Chair</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$16.00 <del class="text-danger ms-2">$21.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s14.jpg" class="img-fluid" alt=""></a>
                    <div class="overlay-work">
                        <div class="py-2 bg-soft-dark rounded-bottom out-stock">
                            <h6 class="mb-0 text-center">Out of stock</h6>
                        </div>
                    </div>
                    <ul class="list-unstyled shop-icons">
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Women Block Heels</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$21.00 <del class="text-danger ms-2">$25.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s15.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-15.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">T-Shirts</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$5.00 <span class="text-success ms-1">30% off</span>
                        </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->

        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s16.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-16.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
       
        
       
      
        
     
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s3.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-3.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s5.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-5.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s4.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-4.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s2.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-2.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s6.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-6.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s12.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-12.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s14.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-14.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
            <div class="card shop-list border-0 position-relative">
                <ul class="label list-unstyled mb-0">
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-primary">New</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-success">Featured</a></li>
                    <li><a href="javascript:void(0)" class="badge badge-link rounded-pill bg-warning">Sale</a></li>
                </ul>
                <div class="shop-image position-relative overflow-hidden rounded shadow">
                    <a routerLink="/shop-product-detail"><img src="assets/images/shop/product/s15.jpg" class="img-fluid" alt=""></a>
                    <a routerLink="/shop-product-detail" class="overlay-work">
                        <img src="assets/images/shop/product/s-15.jpg" class="img-fluid" alt="">
                    </a>
                    <ul class="list-unstyled shop-icons">
                        <li>
                            <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-soft-danger">
                                <i-feather name="heart" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#productview" class="btn btn-icon btn-pills btn-soft-primary">
                                <i-feather name="eye" class="icons"></i-feather>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a routerLink="/shop-cart" class="btn btn-icon btn-pills btn-soft-warning">
                                <i-feather name="shopping-cart" class="icons"></i-feather>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body content pt-4 p-2">
                    <a routerLink="/shop-product-detail" class="text-dark product-name h6">Clock</a>
                    <div class="d-flex justify-content-between mt-1">
                        <h6 class="text-muted small fst-italic mb-0 mt-1">$18.00 <del class="text-danger ms-2">$22.00</del> </h6>
                        <ul class="list-unstyled text-warning mb-0">
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                            <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->
<!-- End Recent -->
<!-- End -->
<section class="section bg-light">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end container-->
