.body{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}
.modal{

    width: 650%; 
    height: 20vh;
    background: absolute;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    animation: modal 12s;
    animation-delay: initial;
    visibility: hidden;
    opacity: 0;
}
.contenido{
    margin:auto;
    width: 400%;
    height: 28%;

font-style: oblique;
color:white;
text-align: center;
}
.cerrar{
    display: none;
}
.cerrar + label{
position: absolute;
color: #fff;
font-size: 25px;

z-index: 50;
background: darkred;
height: 40px;
width: 48px;
line-height: 48px;
border-radius: 50%;
right: 10px;
cursor: pointer;

animation: modal 8s 1s;
visibility: hidden;
opacity: 0;

}

@keyframes modal {
 0% { left: 200%;}
 
    100% {
        visibility: visible;
opacity: 1;

    }
}

