


<!-- Hero Start -->
<section class="main-slider" id="home">
    <div class="slider single-item">
        <owl-carousel-o id="customer-testi" [options]="customOptions">
            <ng-template carouselSlide>
                <div class="bg-half-170 rounded-md" style="background: url('assets/images/shop/bg2.jpg') center center;">
                    
                    <div class="container">
                        <div class="row align-items-center mt-5">
                                           

<!--Prueba-->

<div class= "modal">
    
    <div class ="contenido">
        <h2>
           <br>
            Welcome! 
            Thank you for visiting our digital space!💖		
            Let’s make some magic 🌟
            <br>
        </h2>
       <!-- <img src="assets/images/shop/bg2.jpg" alt ="">-->
    </div>
</div>

<!--Prueba-->
                            <div class="col-lg-7 col-md-7">
                                <div class="title-heading mt-4">
                                    <h1 class="display-4 title-white fw-bold mb-3">Titulo 1</h1>
                                    <p class="para-desc text-muted para-dark">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap v5 html page.</p>
                                    <a href="javascript:void(0)" data-bs-toggle="modal" class="btn btn-primary m-1"
                                    (click)="Subscribeopen(Subscribecontent)">Welcome</a>
                  
                                          
   <!-- Subscribe Modal Content Start -->
              <ng-template #Subscribecontent let-modal>
                <div class="modal-content rounded shadow border-0">
                  <div class="modal-body p-0" style="background: url('assets/images/subscribe.png') no-repeat;">
                    <button type="button" class="btn-close float-end m-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    </button>
                    <div class="clearfix"></div>
                    <div class="container-fluid px-0">
                      <div class="row align-items-center g-0">
                        <div class="col-lg-6 offset-lg-6">
                          <div class="pb-5 pt-4 px-4">
                            

                            <h4>Welcome! 
                                Thank you for visiting our digital space!💖		
                                Let’s make some magic 🌟</h4>
                           
                            <form class="mt-4">
                              <div class="row">
                                
                                <!--end col-->

                            
                                <!--end col-->

                                <div class="col-12">
                                  <div class="text-center">
            
                                  </div>
                                </div>
                                <!--end col-->
                              </div>
                              <!--end row-->
                            </form>
                          </div>
                        </div>
                        <!--end col-->
                      </div>
                      <!--end row-->
                    </div>
                    <!--end container-->
                  </div>
                </div>
              </ng-template>
              <!-- Modal Content End -->
                
                                    <div class="mt-4">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;<br>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                        <!--end row-->
                    </div>
                </div>


                
                <!--end slide-->
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-half-170 rounded-md" style="background: url('assets/images/shop/bg1.jpg') center center;">
                    <div class="container">
                        <div class="row align-items-center mt-5">
                            <div class="col-lg-7 col-md-7">
                                <div class="title-heading mt-4">
                                    <h1 class="display-4 title-white fw-bold mb-3">Titulo 2</h1>
                                    <p class="para-desc text-muted para-dark">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap v5 html page.</p>
                                    <div class="mt-4">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;<br>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                        <!--end row-->
                    </div>
                </div>
                <!--end slide-->
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-half-170 rounded-md" style="background: url('assets/images/shop/bg3.jpg') center center;">
                    <div class="container">
                        <div class="row align-items-center mt-5">
                            <div class="col-lg-7 col-md-7">
                                <div class="title-heading mt-4">
                                    <h1 class="display-4 title-white fw-bold mb-3">Titulo 3</h1>
                                    <p class="para-desc text-muted para-dark">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap v5 html page.</p>
                                    <div class="mt-4">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;<br>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                        <!--end row-->
                    </div>
                </div>
                <!--end slide-->
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<!--end section-->
<!-- Hero End -->


<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-primary back-to-top" id="back-to-top" [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->

<!-- Login Modal start -->
<ng-template #content let-modal>
  <div class="modal-header">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-content rounded shadow border-0">
      <div class="modal-body p-0">
          <div class="container-fluid px-0">
              <div class="row align-items-center g-0">
                  <div class="col-lg-12">
                      <form class="login-form p-4">
                          <div class="row">

                              