<div class="section pb-0" id="3">
    <div style="background-color: #e89f36 ;width:1920px; height:1020px;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
        
      </div>
      <!--end container-->
  
      <div class="container mt-100 mt-60">
       
          <div class="col-lg-5 col-md-6">
      
          </div>
          <!--end col-->
  
          <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0" style="color: white !important;">
            <div class="section-title ms-lg-5">
              <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000" style="color: white !important;">  CUSTOM-MADE ART</h4>
              <p class="text" data-aos="fade-up" data-aos-duration="1400">3.What theme fits your custom artwork more ?  </p>
                 
            
        <!-- Radio Buttons Start -->
        <div class="col mt-4 pt-2" id="radio-buttons">
          
           
            <div class="p-4">
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">Self-portrait</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">Deities</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">Spirituality</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">Contemporary abstract</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">¡Surprise me! 🌝</label>
                </div>
              </div>
              
                  <span class="text-primary h5 me-2"></span>Other:
                  <textarea rows="1" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea> 

            </div>
          
        </div>
        <!--end col-->
        <!-- Radio Buttons End -->

              <div class="row align-items-center">
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-between">
                    <a class="text-dark align-items-center">
                      <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                          <line x1="19" y1="12" x2="5" y2="12"></line>
                          <polyline points="12 19 5 12 12 5"></polyline>
                        </svg></span>
                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/art"[ngxScrollTo]="'#2'" style="color: white !important;">Back </a>
                      <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                        alt="">
                    </a>

                    <a class="text-dark align-items-center">
                      <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                        alt="">
                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/space" [ngxScrollTo]="'#4'" style="color: white !important;">Next </a>
                      <span class="pro-icons"><svg xmlns="" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round"style="color: white !important;"  class="feather feather-arrow-right fea icon-sm">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg></span>
                    </a>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->

            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
     
      <!--end container-->
    </div>
   </div>