  <div class="position-relative">
    <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>
  <!-- Hero End -->
  
  <!-- Start -->
  <section class="section"  style="font-family: 'PPEiko-Medium' !important;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive bg-white shadow">
            <table  class="table table-center table-padding mb-0" >
              <thead>
                <tr  >
                  
                  <th class="border-bottom py-3" style="min-width: 300px;" style="font-family: 'PPEiko-Medium' !important;" >PRODUCT</th>
                  <th class="border-bottom text-center py-3" style="min-width: 160px;">QUANTITY</th>
                  <th class="border-bottom text-center py-3" style="min-width: 160px;">TOTAL</th>
                </tr>
              </thead>
  
              <tbody>
                <tr class="shop-list" >
                
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="assets/images/shop/product/s1.jpg" width="150" height="150" >
                     
                      
                      <div class="margin">
                        <h6 class=" mb-0 ms-3" style="font-family: 'PPEiko-Medium' !important;">T-Shirt</h6>
                        <h6 class=" mb-0 ms-3" style="font-family: 'PPEiko-Thin' !important;">Información</h6>
                        <h6 class=" mb-0 ms-3" style="font-family: 'PPEiko-Thin' !important;">$78</h6>
                      </div>
                    </div>
                 
                  </td>
                  
                  <td class="text-center qty-icons" >
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="btn btn-icon btn-soft-primary minus">-</button>
                    <input min="0" name="quantity" value="7" type="number"
                      class="btn btn-icon btn-soft-primary qty-btn quantity m-1">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="btn btn-icon btn-soft-primary plus">+</button>
                  </td>
                  <td class="text-center fw-bold">$510.00</td>
                </tr>
                <tr class="shop-list" >
                
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="assets/images/shop/product/s1.jpg" width="150" height="150" >
                     
                      
                      <div class="margin">
                        <h6 class=" mb-0 ms-3" style="font-family: 'PPEiko-Medium' !important;">T-Shirt</h6>
                        <h6 class=" mb-0 ms-3" style="font-family: 'PPEiko-Thin' !important;">Información</h6>
                        <h6 class=" mb-0 ms-3" style="font-family: 'PPEiko-Thin' !important;">$78</h6>
                      </div>
                    </div>
                 
                  </td>
                  
                  <td class="text-center qty-icons" >
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      class="btn btn-icon btn-soft-primary minus">-</button>
                    <input min="0" name="quantity" value="7" type="number"
                      class="btn btn-icon btn-soft-primary qty-btn quantity m-1">
                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      class="btn btn-icon btn-soft-primary plus">+</button>
                  </td>
                  <td class="text-center fw-bold">$510.00</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
      <div class="row">
      
        <div class="col-lg-4 col-md-6 ms-auto mt-4 pt-2">
          <div class="table-responsive bg-white rounded shadow">
            <table class="table table-center table-padding mb-0">
              <tbody>
              
                <tr class="bg-light">
                  <td class="h6"  style="font-family: 'PPEiko-Medium' !important;">Total</td>
                  <td class="text-center fw-bold">$ 2409</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-4 pt-2 text-end">
         
            <a class="botones" routerLink="/shop-checkouts" style= "color: black;" >Check Out</a>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <!-- End -->
  