<div class="section pb-0" id="2">
  <div style="background-color: #2b2d91  ;width:1920px; height:1020px;">
        
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
      
      
          <div class="container mt-100 mt-60">
            <!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0" style="color: white !important;" >
              <div class="section-title ms-lg-5">
                <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000" style="color: white !important;" >CUSTOM-MADE ART</h4>
                <p class="text " data-aos="fade-up" data-aos-duration="1400" style="color: white !important;" >2.What type of art are you interested in?  * </p>
                   

          <!-- Radio Buttons Start -->
          <div class="col mt-4 pt-2" id="radio-buttons">
              <div class="p-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1 " (click) = "touch(1);">
                    <label class="form-check-label"  for="flexRadioDefault1"  >Ink Illustration</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(2);">
                    <label class="form-check-label" for="flexRadioDefault1">Hand Painted </label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(3);">
                    <label class="form-check-label" for="flexRadioDefault1">Digital </label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch(4);">
                    <label class="form-check-label" for="flexRadioDefault1">Sculpture</label>
                  </div>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click) = "touch(5);">
                    <label class="form-check-label" for="flexRadioDefault2">Photography</label>
                  </div>
                </div>
                <br>
                <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control" placeholder=" Size in cm : " required></textarea>  
                 <br>
              </div>
           
          </div>
          <!--end col-->
          <!-- Radio Buttons End -->

                <!--end row-->
              </div>
              <!--Contenedores -->
              
               <div class="main-content clase"  *ngIf="Contenedora2">
                <p class="text" data-aos="fade-up" data-aos-duration="1400">2a.What size are you thinking for this illustration? </p>
               <div class=palabras>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                    <label class="form-check-label" for="flexRadioDefault1">Small (A4: 21 x 29.7 cm)</label>
                  </div>
                </div>
                 <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                    <label class="form-check-label" for="flexRadioDefault1"> Medium (A2: 42 x 59.4 cm)</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                    <label class="form-check-label" for="flexRadioDefault1">Large (A1: 59.4 x 84.1 cm)</label>
                  </div>
                </div>
              </div>
                 <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea>  
                 <br>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" style="color: white !important;" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-made" [ngxScrollTo]="'#1'" >Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)"style="color: white !important;" class="text-primary p-1 px-2 shadow rounded"  routerLink="/art-type" [ngxScrollTo]="'#3'"style="color: white !important;">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
             
               <div class="main-content clase" *ngIf="Contenedorb2">
                 <p class="text" data-aos="fade-up" data-aos-duration="1400">2b.What size are you thinking for this hand painted work?</p>
                 <div class=palabras>
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Small (30cm x 40cm)</label>
                    </div>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Medium (60cm x 70cm)</label>
                    </div>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Large (100cm x 110cm)</label>
                    </div>
                  </div>
                 <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea>  
                 </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;"  class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-made" [ngxScrollTo]="'#1'" style="color: white !important;">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/art-type" [ngxScrollTo]="'#3'" style="color: white !important;">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm" style="color: white !important;" >
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                 </div>
              </div>
              <div class="main-content prueba" *ngIf="Contenedorc2">
                  <p class="text" data-aos="fade-up" data-aos-duration="1400"style="color: white !important;">2c. What dimensions work best for this digital piece?   </p>
                  <div class=palabras style="color: white !important;">
                    <div class="custom-control custom-radio custom-control-inline">
                      <div class="form-check mb-0">
                        <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                        <label class="form-check-label" for="flexRadioDefault1">Small (30cm x 40cm)</label>
                      </div>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <div class="form-check mb-0">
                        <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                        <label class="form-check-label" for="flexRadioDefault1">Medium (60cm x 70cm)</label>
                      </div>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <div class="form-check mb-0">
                        <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                        <label class="form-check-label" for="flexRadioDefault1">Large (100cm x 110cm)</label>
                      </div>
                    </div>
                 <span class="text-primary h5 me-2"></span>Other:
                 <div class="main-content next" >
                 <textarea rows="1" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea>  
                 </div>
                 <br>
                 </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>
 
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-made" [ngxScrollTo]="'#1'" style="color: white !important;">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>
                      <div class="main-content boton">
                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/art-type"  [ngxScrollTo]="'#3'" style="color: white !important;">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  </div>
                  <!--end col-->
                </div>
              </div>
              <div class="main-content prueba" *ngIf="Contenedord2">
                 <p class="text" data-aos="fade-up" data-aos-duration="1400" style="color: white !important;">2d. How big or small are you thinking? </p>
                 <div class=palabras style="color: white !important;">
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Small (e.g., the size of a head pillow)</label>
                    </div>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Medium (e.g., the size of an oven)</label>
                    </div>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Large (e.g., the size of a fridge)</label>
                    </div>
                  </div>
                 <span class="text-primary h5 me-2"></span>Other:
                 <br>
                 <div class="main-content next" >
                 <textarea rows="1" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea>  
                 </div>
                 <br>
                 </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-made" [ngxScrollTo]="'#1'"style="color: white !important;">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>
                      <div class="main-content boton">
                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/art-type" [ngxScrollTo]="'#3'" style="color: white !important;">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
               </div>
               <div class="main-content prueba" *ngIf="Contenedore2">
                 <p class="text" data-aos="fade-up" data-aos-duration="1400" style="color: white !important;">2e. What size of photography are you thinking? </p>
                 <div class=palabras style="color: white !important;">
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Small (A4: 21 x 29.7 cm)</label>
                    </div>
                  </div>
                   <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1"> Medium (A2: 42 x 59.4 cm)</label>
                    </div>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <div class="form-check mb-0">
                      <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch();">
                      <label class="form-check-label" for="flexRadioDefault1">Large (A1: 59.4 x 84.1 cm)</label>
                    </div>
                  </div>
                 <span class="text-primary h5 me-2"></span>Other:
                 <div class="main-content next" >
                 <textarea rows="1" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea>  
                 </div>
                 <br> 
                </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"style="color: white !important;"  class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-made" [ngxScrollTo]="'#1'"style="color: white !important;">Back </a>
                          <img src=""  class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>
                      <div class="main-content boton">
                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/art-type" [ngxScrollTo]="'#3'" style="color: white !important;">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" style="color: white !important;"class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
               </div>
               <div class="main-content clase" *ngIf="Contenedorf2">
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">2f. This sounds like a very special artwork, tell us more about it! Don’t forget to mention size:</p>
                <br>
                 <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control"  placeholder=" Size in cm : " required></textarea> 
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/custome-made" [ngxScrollTo]="'#1'" style="color: white !important;">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"  routerLink="/art-type" [ngxScrollTo]="'#3'" style="color: white !important;">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
           
                
            </div>
            <!--end col-->
  </div>
</div>