<div *ngIf="!hideFooter">
    <div *ngIf="footerVariant == 'bg-light';else execute_block">
        <!-- Footer Start -->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                        <a href="#" class="logo-footer">
                        </a>
                   
                        <ul class="list-unstyled social-icon social mb-0 mt-4">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="facebook" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                            <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="instagram" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                            <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="twitter" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                            <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                    <i-feather name="linkedin" class="fea icon-sm fea-social"></i-feather>
                                </a></li>
                        </ul>
                        <!--end icon-->
                    </div>
                    <!--end col-->

                    <!--end col-->

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="foot-subscribe foot-white mb-3">
                                        <label class="form-label">Write your email <span
                                                class="text-danger">*</span></label>
                                        <div class="form-icon position-relative">
                                            <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                                            <input type="email" name="email" id="emailsubscribe"
                                                class="form-control bg-light border ps-5 rounded"
                                                placeholder="Your email : " required>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-lg-12">
                                    <div class="d-grid">
                                        <input type="submit" id="submitsubscribe" name="send"
                                            class="btn btn-soft-primary" value="Subscribe">
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </footer>
        <!-- Footer End -->
    </div>
   <!-- <ng-template #execute_block>
        <footer style="background-color: #c9e1f1;" class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                       
                      
                        <!--end icon-->
                    </div>
                    <!--end col--

                    <div class="">
    
                        <form>
                         <div class="row">
                                
                                <!--end col--
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label class="form-label">Your Name <span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                      <i-feather name="user" class="fea icon-sm icons"></i-feather>
                                      <input name="name" id="name" type="text" class="form-control ps-5" placeholder="First Name :">
                                    </div>
                                  </div>
                                </div>
                                <!--end col--
                                <div class="col-md-6">
                                  <div class="mb-3">
                                    <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                    <div class="form-icon position-relative">
                                      <i-feather name="mail" class="fea icon-sm icons"></i-feather>
                                      <input name="email" id="email" type="email" class="form-control ps-5"
                                        placeholder="Your email :">
                                    </div>
                                  </div>
                                </div>
                                <!--end col--
                                <div class="row">
                                  <div class="col-sm-12">
                                    <input type="submit" id="submit" name="send" class="btn btn-primary" value="Suscribe">
                                  </div>
                                  <!--end col--
                                </div>
                            </div>
                            <!--end row--
                          
                        </form>
                
                    </div>
                    <!--end col--
                </div>
                <!--end row--
            </div>
            <!--end container--
            
        </footer>
    </ng-template>  --
</div>
<!--end footer-->
<footer class="footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-start">
                    <p class="mb-0">©
                        <script type="text/javascript" id="www-widgetapi-script"
                            src="https://www.youtube.com/s/player/5d56cf74/www-widgetapi.vflset/www-widgetapi.js"
                            async=""></script>
                            <script  style="font-family: 'PPEiko-Thin' !important;"  type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/5d56cf74/www-widgetapi.vflset/www-widgetapi.js" async=""></script>
                            <script id="iframe_api" src="https://www.youtube.com/iframe_api" style="font-family: 'PPEiko-Medium' !important;" ></script> {{year}} Matersant. Diseñado por <a href="https://www.ima.com.gt" class="text-reset"  style="font-family: 'PPEiko-Thin' !important;" >IMA</a>.
        
                    </p>
                </div>
            </div>
            <!--end col-->

        </div>
        <!--end row-->
    </div>
    <!--end container-->
</footer>
<!--end footer-->







