.fade-up input {
    width: 100;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 28p;
    border: none; 
    outline: 0px; 
}

.clase{
    margin-left: 8%;
}
.palabras{
    margin-left: 4%;
}
.margen{
    margin-left: 9%;
}
.prueba{
    margin-left:4%;
}
.next{
    margin-right: 60%;
}
.boton
{
    margin-right: 50%;
}

.pruebasBoton{
    margin-left: 87%;
}