
<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky" (window:scroll)="windowScroll()">
    <div class="container">
      <!-- Logo container-->
      <div>
        <a class="logo" [ngxScrollTo]="'#home'">
          <img src="" height="24" alt="">
        </a>
      </div>
      
      <!--end login button-->
      <!-- End Logo container-->
      <div class="menu-extras">
        <div class="menu-item">
          <!-- Mobile menu toggle-->
          <a class="navbar-toggle" (click)="toggleMenu()" [ngClass]="{'open': isCondensed === true}">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>
  
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="has-submenu" [ngClass]="{'active':currentSection === '1'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#1'"></a>
          </li>
          <li class="has-submenu" [ngClass]="{'active':currentSection === '2'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#2'"></a>
          </li>
          <li class="has-submenu" [ngClass]="{'active':currentSection === '3'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#3'"></a>
          </li>
          <li class="has-submenu" [ngClass]="{'active':currentSection === '4'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#4'"></a>
          </li>
          <li class="has-submenu" [ngClass]="{'active':currentSection === '5'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#5'"></a>
          </li>
          <li class="has-submenu" [ngClass]="{'active':currentSection === '6'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#6'"></a>
          </li>
          <li class="has-submenu" [ngClass]="{'active':currentSection === '7'}">
            <a href="javascript: void(0);" [ngxScrollTo]="'#7'"></a>
          </li>
         
        </ul>
        <!--end navigation menu-->
      </div>
      <!--end navigation-->
    </div>
    <!--end container-->
  </header>
  <!--end header-->
  <!-- Navbar End -->
  <div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
   
    <!-- home Start -->
    <section class="section pb-0" id="1">
      <div style="background-color: #ffe1AE ;width:1920px; height:1020px;">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <app-services [servicesData]="servicesData"></app-services>
  
          <div class="container mt-100 mt-60">
            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="section-title ms-lg-5">
                <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">CUSTOM MADE -ART-</h4>
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1000">Ciao art lover, welcome to our MATERSANT custom art portal. 
                    Once you complete this short and sweet form, we’ll assess your request and contact you with a quote.</p>
                    <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">Let’s get started 🦑:</p>
                    
                <ul data-aos="fade-up" data-aos-duration="1800">
                  <li class="mb-0"><span class="text-primary h5 me-2"></span>Name:</li> 
                  <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                 <!-- <li class="mb-0"><span class="text-primary h5 me-2"></span>Name: <input type = "text" required> </li>-->
                  <li class="mb-0"><span class="text-primary h5 me-2"></span>Last Name:</li>
                  <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                  <li class="mb-0"><span class="text-primary h5 me-2"></span>Country: </li>
                  <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                  <li class="mb-0"><span class="text-primary h5 me-2"></span>Email: </li>
                  <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">Tick this box if you would like to be  <a href="javascript:void(0)"
                      class="text-primary">added to our fabulous mailing list. </a></label>
            
                </ul>
                <div class="mt-4" data-aos="fade-up" data-aos-duration="2200">
                  
                  <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#2'">Next <i
                      class="uil uil-angle-right-b"></i></a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        <!--end container-->
      </div>
    
     <!-- home Start -->
     <section class="section pb-0" id="2">
      <div style="background-color: #DCF9E4 ;width:1920px; height:1020px;">
        
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <app-services [servicesData]="servicesData"></app-services>
      
        <div class="container mt-100 mt-60">
         
            <div class="col-lg-5 col-md-6">
        
            </div>
            <!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="section-title ms-lg-5">
                <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">CUSTOM MADE -ART-</h4>
                <p class="text-muted  " data-aos="fade-up" data-aos-duration="1400">2.What type of art are you interested in? </p>
                   
                        
          <!-- Radio Buttons Start -->
          <div class="col mt-4 pt-2" id="radio-buttons">
            
             

              <div class="p-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1 " (click) = "touch(1);">
                    <label class="form-check-label"  for="flexRadioDefault1"  >Ink Illustration</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(2);">
                    <label class="form-check-label" for="flexRadioDefault1">Hand Painted </label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(3);">
                    <label class="form-check-label" for="flexRadioDefault1">Digital </label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1"(click) = "touch(4);">
                    <label class="form-check-label" for="flexRadioDefault1">Sculpture</label>
                  </div>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault2" (click) = "touch(5);">
                    <label class="form-check-label" for="flexRadioDefault2">Photography</label>
                  </div>
                </div>
                <br>
                <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                 <br>
              </div>
           
          </div>
          <!--end col-->
          <!-- Radio Buttons End -->

                <!--end row-->
              </div>
              <!--Contenedores -->
              
               <div class="main-content clase"  *ngIf="Contenedora2">
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">2a.What size are you thinking for this illustration? </p>
               <div class=palabras>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label " for="flexCheckDefault"> Small (A4: 21 x 29.7 cm)</label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault"> Medium (A2: 42 x 59.4 cm)  </label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label " for="flexCheckDefault">Large (A1: 59.4 x 84.1 cm)</label>
                 <br>
              </div>
                 <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                 <br>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
             
               <div class="main-content clase" *ngIf="Contenedorb2">
                 <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">2b.What size are you thinking for this hand painted work?</p>
                 <div class=palabras>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Small (30cm x 40cm)</label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Medium (60cm x 70cm)  </label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Large (100cm x 110cm) </label>
                 <br>
                 <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                 </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                 </div>
              </div>
              <div class="main-content prueba" *ngIf="Contenedorc2">
                  <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">2c. What dimensions work best for this digital piece?   </p>
                  <div class=palabras>
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault"> Small (30cm x 40cm)</label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Medium (60cm x 70cm)  </label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Large (100cm x 110cm) </label>
                 
                 <span class="text-primary h5 me-2"></span>Other:
                 <div class="main-content next" >
                 <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                 </div>
                 <br>
                 </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>
                      <div class="main-content boton">
                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  </div>
                  <!--end col-->
                </div>
              </div>
              <div class="main-content prueba" *ngIf="Contenedord2">
                 <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">2d. How big or small are you thinking? </p>
                 <div class=palabras>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault"> Small (e.g., the size of a head pillow)</label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Medium (e.g., the size of an oven) </label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Large (e.g., the size of a fridge)</label>
                 <br>
                 <span class="text-primary h5 me-2"></span>Other:
                 <br>
                 <div class="main-content next" >
                 <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                 </div>
                 <br>
                 </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>
                      <div class="main-content boton">
                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
               </div>
               <div class="main-content prueba" *ngIf="Contenedore2">
                 <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">2e. What size of photography are you thinking? </p>
                 <div class=palabras>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Small (A4: 21 x 29.7 cm)</label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault"> Medium (A2: 42 x 59.4 cm)  </label>
                 <br>
                 <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                 <label class="form-check-label" for="flexCheckDefault">Large (A1: 59.4 x 84.1 cm)</label>
                 <br>
                 <span class="text-primary h5 me-2"></span>Other:
                 <div class="main-content next" >
                 <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
                 </div>
                 <br> 
                </div>
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>
                      <div class="main-content boton">
                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
               </div>
               <div class="main-content clase" *ngIf="Contenedorf2">
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">2f. This sounds like a very special artwork, tell us more about it! Don’t forget to mention size:</p>
                <br>
                 <span class="text-primary h5 me-2"></span>Other:
                 <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea> 
                 <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
               </div>
           
                
            </div>
            <!--end col-->
          </div>
          <!--end row-->
       
        <!--end container-->
     
  
           <!-- home Start -->
    <section class="section pb-0" id="3">
      <div style="background-color: #f5dcf9 ;width:1920px; height:1020px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <app-services [servicesData]="servicesData"></app-services>
        </div>
        <!--end container-->
    
        <div class="container mt-100 mt-60">
         
            <div class="col-lg-5 col-md-6">
        
            </div>
            <!--end col-->
    
            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="section-title ms-lg-5">
                <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">CUSTOM MADE -ART-</h4>
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">3.What theme fits your custom artwork more ?  </p>
                   
              
          <!-- Radio Buttons Start -->
          <div class="col mt-4 pt-2" id="radio-buttons">
            
             
              <div class="p-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Self-portrait</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Deities</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Spirituality</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Contemporary abstract</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">¡Surprise me! 🌝</label>
                  </div>
                </div>
                
                    <span class="text-primary h5 me-2"></span>Other:
                    <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea> 

              </div>
            
          </div>
          <!--end col-->
          <!-- Radio Buttons End -->

                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#2'">Back </a>
                        <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#4'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->

              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
       
        <!--end container-->
      </div>

           <!-- home Start -->
    <section class="section pb-0" id="4">
      <div style="background-color: #a0fc8d   ;width:1920px; height:1020px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <app-services [servicesData]="servicesData"></app-services>
        </div>
        <!--end container-->
    
        <div class="container mt-100 mt-60">
         
            <div class="col-lg-5 col-md-6">
        
            </div>
            <!--end col-->
    
            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="section-title ms-lg-5">
                <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">CUSTOM MADE -ART-</h4>
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">4.In what space will this MATERSANT thrive in?  </p>
                     
          <!-- Radio Buttons Start -->
          <div class="col mt-4 pt-2" id="radio-buttons">
            
             
            <div class="p-4">
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(6);">
                  <label class="form-check-label" for="flexRadioDefault1" >Outdoors</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(7);">
                  <label class="form-check-label" for="flexRadioDefault1">Indoors</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(8);">
                  <label class="form-check-label" for="flexRadioDefault1">Both Outdoors & Indoors</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <div class="form-check mb-0">
                  <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1" (click) = "touch(9);">
                  <label class="form-check-label" for="flexRadioDefault1">Virtual space</label>
                </div>
              </div>
              
            
            </div>
          
        </div>
        <!--end col-->
        <!-- Radio Buttons End -->
                
              </div>
              <div class="main-content clase " *ngIf="Contenedora4">
             <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">4a. Outdoors can mean many things, so for us it’s important to know about the elements that will interact with the custom artwork.
                Check all that apply:  </p>
                <div class=palabras>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault"> Exposure to direct sunlight</label>
              <br>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault"> Water exposure (e.g., rain)  </label>
              <br>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Direct winds</label>
              <br>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Dust</label>
              <br>
              <span class="text-primary h5 me-2"></span>Other:
              <textarea rows="1" cols="80" class="form-control" placeholder=""></textarea>  
              <br>
              </div>
              <p class="text" data-aos="fade-up" data-aos-duration="1400">You can also upload a photo of the space or spot you have in mind (optional):   <button mat-stroked-button="primary" >JPG, PNG, PDF</button>
              <br>
                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>

                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                          <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
              </div>
              <div class="main-content clase " *ngIf="Contenedorb4">
              <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">4b. Sweet, Indoors is a great shout.  What space did you have in mind?   </p>
              <div class=palabras>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Living room </label>
              <br>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault"> Bedroom </label>
              <br>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Kitchen</label>
              <br>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Office-Studio </label>
              <br>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">Foyer  </label>
              <br>
              </div>
              <div class="row align-items-center">
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-between">
                    <a class="text-dark align-items-center">
                      <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                          <line x1="19" y1="12" x2="5" y2="12"></line>
                          <polyline points="12 19 5 12 12 5"></polyline>
                        </svg></span>

                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                        <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                        alt="">
                    </a>

                    <a class="text-dark align-items-center">
                      <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                        alt="">
                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                      <span class="pro-icons"><svg xmlns="" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg></span>
                    </a>
                  </div>
                </div>
                <!--end col-->
              </div>
              </div>
              <div class="main-content clase" *ngIf="Contenedorc4">
              <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">4c. Ooh lala, a versatile custom piece, how splendid.</p>
              <br>
              <div class=palabras>
              <span class="text-primary h5 me-2"></span>Other:
              <textarea rows="2" cols="80" class="form-control" placeholder=""></textarea>  
              <br>
              </div>
              <div class="row align-items-center">
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-between">
                    <a class="text-dark align-items-center">
                      <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                          <line x1="19" y1="12" x2="5" y2="12"></line>
                          <polyline points="12 19 5 12 12 5"></polyline>
                        </svg></span>

                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                        <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                        alt="">
                    </a>

                    <a class="text-dark align-items-center">
                      <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                        alt="">
                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                      <span class="pro-icons"><svg xmlns="" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg></span>
                    </a>
                  </div>
                </div>
                <!--end col-->
              </div>
              </div>
              <div class="main-content margen " *ngIf="Contenedord4">
              <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">4d. Virtual, digital, dimensional, tell us more.  </p>
              <br>
              <div class=palabras>
              <span class="text-primary h5 me-2"></span>Other:
              <textarea rows="2" cols="80" class="form-control" placeholder=""></textarea>  
              <br>
              </div>
              <div class="row align-items-center">
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-between">
                    <a class="text-dark align-items-center">
                      <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                          <line x1="19" y1="12" x2="5" y2="12"></line>
                          <polyline points="12 19 5 12 12 5"></polyline>
                        </svg></span>

                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#1'">Back </a>
                        <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                        alt="">
                    </a>

                    <a class="text-dark align-items-center">
                      <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                        alt="">
                        <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#3'">Next </a>
                      <span class="pro-icons"><svg xmlns="" width="24" height="24"
                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                          <polyline points="12 5 19 12 12 19"></polyline>
                        </svg></span>
                    </a>
                  </div>
                </div>
                <!--end col-->
              </div>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
       
        <!--end container-->
      </div>

           <!-- home Start -->
    <section class="section pb-0" id="5">
      <div style="background-color: #ffe1AE  ;width:1920px; height:1020px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <app-services [servicesData]="servicesData"></app-services>
        </div>
        <!--end container-->
    
        <div class="container mt-100 mt-60">
         
            <div class="col-lg-5 col-md-6">
        
            </div>
            <!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="section-title ms-lg-5">
                <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">CUSTOM MADE -ART-</h4>
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">5. Would you like your custom artwork framed? </p>
                   
                         <!-- Radio Buttons Start -->
              

              <div class="p-4">
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Yes</label>
                  </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <div class="form-check mb-0">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">No</label>
                  </div>
                </div>
               
              </div>
            
          <!--end col-->
          <!-- Radio Buttons End -->

                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#4'">Back </a>
                        <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#6'">Next </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->

              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
       
        <!--end container-->
      </div>
  
    
           <!-- home Start -->
    <section class="section pb-0" id="6">
      <div style="background-color:#FAFCAF   ;width:1920px; height:1020px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <app-services [servicesData]="servicesData"></app-services>
        </div>
        <!--end container-->
    
        <div class="container mt-100 mt-60">
         
            <div class="col-lg-5 col-md-6">
        
            </div>
            <!--end col-->
               <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="section-title ms-lg-5">
                <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">CUSTOM MADE -ART-</h4>
                <p class="text-muted" data-aos="fade-up" data-aos-duration="1400">6.Anything else you may want to add? </p>
                   
                <ul data-aos="fade-up" data-aos-duration="1800">
                <span class="text-primary h5 me-2"></span>Other:
                <textarea rows="2" cols="80" class="form-control" placeholder=""></textarea>
                </ul>
                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="text-dark align-items-center">
                        <span class="pro-icons"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                          </svg></span>
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#5'">Back </a>
                        <img src="" class="avatar avatar-small rounded shadow ms-2" style="height:auto;"
                          alt="">
                      </a>

                      <a class="text-dark align-items-center">
                        <img src="" class="avatar avatar-small rounded shadow me-2" style="height:auto;"
                          alt="">
                          <a href="javascript:void(0)" class="text-primary p-1 px-2 shadow rounded"[ngxScrollTo]="'#7'">SUBMIT FORM </a>
                        <span class="pro-icons"><svg xmlns="" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                          </svg></span>
                      </a>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->

              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
       
        <!--end container-->
      </div>
    </section> 
  
     <!-- home Start -->
     <section class="section pb-0" id="7">
      <div style="background-color: #f5dcf9 ;width:1920px; height:1020px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="section-title mb-4 pb-2">
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
          <app-services [servicesData]="servicesData"></app-services>
        </div>
        <!--end container-->
    
        <div class="container mt-100 mt-60">
         
            <div class="col-lg-5 col-md-6">
        
            </div>
            <!--end col-->
    
            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
              <div class="section-title ms-lg-5">
            

                  <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">
                  Thank you for submitting your MATERSANT custom art form. We’ll get back to you as soon as possible. 🐉
                  In the meantime, take a look at the cool stuff we have in our <a href="https://matersant.ima.com.gt/" class="text-reset">Shop</a>.</h4>
        
                
                   
                   
                <ul data-aos="fade-up" data-aos-duration="1800">
                </ul>
                
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
       
        <!--end container-->
      </div>
    
     


